<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>215706814614-p8s9d5dii11ct36vjr0vl4jnlfqh6din.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215706814614-p8s9d5dii11ct36vjr0vl4jnlfqh6din</string>
	<key>API_KEY</key>
	<string>AIzaSyAn8IkQvr9z7ownrXwCa_NB_bc-hAE6in4</string>
	<key>GCM_SENDER_ID</key>
	<string>215706814614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Timur.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-b62e2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-b62e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:215706814614:ios:c5a34c11e6bc5c8f</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-b62e2.firebaseio.com</string>
</dict>
</plist>
